<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="viewaccount-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .table-wrapper-2 {
          display: block;
          max-height: 300px;
          overflow-y: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      .title-mov{
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/colapi/v4/accounts/{{user_id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

      <div class="container-fluid">
        <div class="alert alert-light" role="alert">
          <h3 class="title-mov">Accounts</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-2">
                    <!--Table-->
                    <table class="table table-striped table-responsive-md">
                        <thead class="thead-dark mdb-color lighten-4">
                            <tr>
                                <th class="th-lg">IBAN</th>
                                <th class="th-lg">Balance</th>
                                <th class="th-lg">Movimientos</th>
                            </tr>
                        </thead>
                        <tbody>
                          <template is="dom-repeat" items="{{accounts}}" index-as="index">
                            <tr>
                                <th scope="row">{{item.IBAN}}</th>
                                <td>{{item.balance}}</td>
                                <td><button class="btn btn-success" on-click="showMov">Ver</button></td>
                            </tr>
                          </template>
                        </tbody>
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>
      </div>

  </template>

  <script>
    class ViewaccountApp extends Polymer.Element {
      static get is() { return 'viewaccount-app'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          user_id: {
            type: String
          },
          currency: {
            type: String
          },
          balance: {
            type: String
          },
          accounts: {
            type: Array
          },
          movements: {
            type: Array
          }
        };
      }

      showData(data){
        console.log('msg: ' + data);
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }

      showMov(accounts){
        console.log('msg: ' + accounts);
        console.log(accounts.model.item);
        this.dispatchEvent(new CustomEvent('OKAccount', {detail:accounts.model.item}));
      }

      viewAccounts(control) {
        console.log('request accounts ' + JSON.stringify(control));
        this.user_id = control[0].id;
      }
    }
    window.customElements.define(ViewaccountApp.is, ViewaccountApp);
  </script>

</dom-module>
