<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="viewmovement-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .table-wrapper-2 {
          display: block;
          max-height: 300px;
          overflow-y: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      .title-mov{
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/colapi/v4/movements/'{{iban}}'"
      handle-as="json"
      on-response="showMov"></iron-ajax>

      <div class="container-fluid">
        <div class="alert alert-light" role="alert">
          <h3 class="title-mov">Movements</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-2">
                    <!--Table-->
                    <table class="table table-striped table-responsive-md">
                        <thead class="thead-dark mdb-color lighten-4">
                            <tr>
                                <th class="th-lg">IBAN</th>
                                <th class="th-lg">Fecha</th>
                                <th class="th-lg">Importe</th>
                                <th class="th-lg">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                          <template is="dom-repeat" items="{{movements}}" index-as="index">
                            <tr>
                                <th scope="row">{{item.IBAN}}</th>
                                <th scope="row">{{item.fecha}}</th>
                                <td>{{item.importe}}</td>
                                <td>{{item.descripcion}}</td>
                            </tr>
                          </template>
                        </tbody>
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>
      </div>

  </template>

  <script>
    class ViewmovementApp extends Polymer.Element {
      static get is() { return 'viewmovement-app'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          mov_id: {
            type: String
          },
          date: {
            type: String
          },
          description: {
            type: String
          },
          amount: {
            type: String
          },
          movements: {
            type: Array
          }
        };
      }
      showMov(mov){
    /*<!--console.log('msg: ' + mov) -->*/
        this.movements = mov.detail.response;
      }
      showMovements(control) {
        console.log('request movements ' + JSON.stringify(control));
        this.iban = control.IBAN;
      }
    }
    window.customElements.define(ViewmovementApp.is, ViewmovementApp);
  </script>

</dom-module>
