<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-app/loginosc.html">
<link rel="import" href="/src/login-app/loginok.html">
<link rel="import" href="/src/viewaccount-app/viewaccount.html">
<link rel="import" href="/src/viewmovement-app/viewmovement.html">

<dom-module id="contro-login">
  <template>
    <style>
      :host {
        display: block;
      }
      .account-ctl{
        margin-top: 70px;
      }
      .movement-ctl{
        margin-top: 50px;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <!--<link href="/getbootstrap/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->

    <!--<h1>Welcome to BBVA</h1>-->

    <div class="login-ctl" hidden="{{isLogged}}">
      <login-osc id="login"></login-osc>
    </div>

    <div class="ok-ctl" hidden="{{!isLogged}}">
      <div class="">
        <login-ok id="loginok"></login-ok>
      </div>
      <div class="account-ctl">
        <viewaccount-app id="accounts"></viewaccount-app>
      </div>
      <div class="movement-ctl" hidden="{{isView}}">
        <viewmovement-app id="movements"></viewmovement-app>
      </div>
    </div>


  </template>

  <script>
    class ControLogin extends Polymer.Element {
      static get is() { return 'contro-login'; }
      ready(){
        super.ready()
        this.$.login.addEventListener('OK', e => {this.userLogin(e)})
        this.$.accounts.addEventListener('OKAccount', a => {this.viewMovements(a)})
        this.$.loginok.addEventListener('OKLogout', o => {this.userLogout(o)})
      }
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            value: false
          },
          isView: {
            type: Boolean,
            value: false
          }
        };
      }

      userLogin(e) {
        console.log('user: ' + e.detail);
        this.isLogged = e.detail[0].logged;
        this.$.loginok.viewDataNode(e.detail);
        this.$.accounts.viewAccounts(e.detail);
      }

      viewMovements(a) {
        this.$.isView = false;
        console.log('accounts: ' + a.detail);
        this.$.movements.showMovements(a.detail);
      }

      userLogout(o) {
        console.log('user-logout: ' + o.detail);
        this.isLogged = false;
        this.$.login.viewUser({"msg":"logout"});
      }

    }
    window.customElements.define(ControLogin.is, ControLogin);
  </script>
</dom-module>
