<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-ok">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Image and text -->
        <div class="container-fluid">
          <nav class="navbar fixed-top navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
              <img src="https://s-passets-cache-ak0.pinimg.com/images/user/default_30.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Welcome: {{fnNode}} {{lnNode}}
            </a>
            <form class="form-inline my-1 my-lg-0">
              <button class="btn btn-sm btn-secondary" value="{{idNode}}" on-click="logout" type="button">Logout</button>
            </form>

          </nav>
        </div>
<!--
    <h1>Welcome to BBVA</h1>
    <br>
    <h2>id: {{idNode}}</h2>
    <br>
    <h2>first_name: {{fnNode}}</h2>
    <br>
    <h2>last_name: {{lnNode}}</h2>
    <br>
    <h2>email: {{emNode}}</h2>
    <br>
    <h2>password: {{paNode}}</h2>
-->

  <iron-ajax
   id="doLogout"
   url="http://localhost:3000/colapi/v4/logout"
   content-type="application/json"
   method="POST"
   handle-as="json"
   on-response="manageAJAXResponse"
   on-error="showError"></iron-ajax>

  </template>

  <script>
    class LoginOK extends Polymer.Element {
      static get is() { return 'login-ok'; }
      static get properties() {
        return {
          idNode:{
            type: String
          },
          fnNode:{
            type: String
          },
          lnNode:{
            type: String
          },
          emNode:{
            type: String
          },
          paNode:{
            type: String
          }
        };
      }

      viewDataNode(data) {
      console.log('request ' + JSON.stringify(data));
        if (data[0]!= null) {
          this.idNode = data[0].id;
          this.fnNode = data[0].first_name;
          this.lnNode = data[0].last_name;
          this.emNode = data[0].email;
          this.paNode = data[0].password;
        }
      }

      logout() {
      console.log("server request logout");
      var logoutData = {"id" : this.idNode};
      this.$.doLogout.body = JSON.stringify(logoutData);
      this.$.doLogout.generateRequest();
      }

      manageAJAXResponse(o) {
      console.log('server response logout');
      console.log(o.detail.response);
      this.dispatchEvent(new CustomEvent('OKLogout', {detail:o.detail.response}));
      }

      showError(error) {
        console.log({"msg":error});
      }
    }
    window.customElements.define(LoginOK.is, LoginOK);
  </script>
</dom-module>
