<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-osc">
  <template>
    <style>
      :host {
        display: block;
      }
      html,body {
         height: 100%;
       }
       .form-signin {
         width: 100%;
         max-width: 330px;
         padding: 15px;
         margin: auto;
       }
       .form-signin .form-control {
         position: relative;
         box-sizing: border-box;
         height: auto;
         padding: 10px;
         font-size: 16px;
       }
       .form-signin .form-control:focus {
         z-index: 2;
       }
       .form-signin input[type="email"] {
         margin-bottom: -1px;
         border-bottom-right-radius: 0;
         border-bottom-left-radius: 0;
       }
       .form-signin input[type="password"] {
         margin-bottom: 10px;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
       }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <div class="container-fluid">
          <form class="form-signin">
            <img class="mb-4" src="http://www.cloud10beauty.com/media/wysiwyg/cloud10/default/N250Cloud_10_White_Beauty.png" alt="Logo" height="72">
            <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
            <input type="email" value="{{email::input}}" class="form-control" id="inputEmail" placeholder="Email address" required autofocus>
            <input type="password" value="{{password::input}}" class="form-control" id="inputPassword" placeholder="Password" required>
            <button type="button" on-click="login" class="btn btn-primary btn-lg btn-block">Sign in</button>
          </form>


<!--

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h1>Bienvenido al BBVA</h1>
    <div class="row">
      <h2 class="col-md-12">Login Usuario</h2>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Password" value="{{password::input}}">
    <button class="btn btn-success" on-click="login">Login</button>
-->

    <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v4/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginOsc extends Polymer.Element {
      static get is() { return 'login-osc'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
      console.log("server request");
      var loginData = {"email" : this.email,"password" : this.password};
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      }

      manageAJAXResponse(e) {
      console.log('server response');
      console.log(e.detail.response);
      this.dispatchEvent(new CustomEvent('OK', {detail:e.detail.response}));
      }

      showError(error) {
        console.log({"msg":error});
      }

      viewUser(msg) {
        location.reload();
        console.log('msg ' + JSON.stringify(msg));
      }

    }
    window.customElements.define(LoginOsc.is, LoginOsc);
  </script>
</dom-module>
